body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #363636;
}
/*NAV BAR*/
.nav-bar{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0 0 0 .8);
}
.wrapper-1240{
    width: 1240px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right, .left{
    display: flex;
    margin-right: 18px;
    align-items: center;
    font-weight: 100;
}
.right span{
    font-size: 18px;
    text-align: right;
    margin-right: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.right .subtitle{
    margin-bottom: 3px;
}
.left .user,
.left .contact,
.left .exit {
    margin: 16px;
}
.left .user span{
    cursor: pointer;
    color: #ff7100;
    vertical-align: middle;
}
.left .contact a{
    color: #363636;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.left .exit .exit-btn{
    box-sizing: border-box;
    height: 31px;
    line-height: 28px;
    width: 81px;
    cursor: pointer;
}
/*END NAV BAR*/


/*DETAILS*/
.details{
    background-color: #f5f5f5;
    padding-bottom: 0;
    overflow-x: hidden;
/*    height: 100px;*/
    width: 100%;
}
.wrapper-880{
    width: 880px;
    margin: 55px auto;
    display: flex;
    flex-direction: column;
}
/*END DETAILS*/
/*ACCORDION*/
.accordion-button:not(.collapsed)::after,
.accordion-button::after
{
    display: none;
}
.accordion-button:not(.collapsed){
    display: none;
    font-size: 24px;
    color: #acacac;
    font-weight: 300;
    background-color: white;
}

.accordion-button{
    padding: 0 !important;
}

.accordion-body{

}
.accordion-item{
    max-width: 880px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(12 0 51 0.1);
    text-decoration: none;
    margin-bottom: 15px;
}
.accordion-button .title{

   font-size: 24px;
    padding: 15px 5%;
    color: #acacac;
    margin-right: 30px;
    font-weight: 300;
}

.accordion-button .circle-icon{
    height: 24px;
    width: 24px;
    line-height: 23px;
    position: absolute;
    margin-right: 30px;
    margin-top: 1px;
    border-radius: 50px;
    color: #0fca80;
    text-align: center;
    border: 2px solid #0fca80;
    font-size: 18px;
    font-weight: 500;
}
.accordion-body .title{
    color: #000;
    font-size: 24px;
    height: 58px;
    padding-right: 30px;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
}
.accordion-body .title .left{
    box-sizing: border-box;
    height: 54px;
    width: 521px;
    border: 1px solid #c6e1ff;
    border-radius: 3px;
    background-color: #f3f8ff;
    box-shadow: 0 2px 2px 0 rgba(0 0 0  0.08);
    padding: 8px;
    overflow: hidden;
}
.accordion-body .title .left .icon{

}
.accordion-body .title .left .icon img{
    width: 30px;
    height: 30px;
}
.accordion-body .title .left .bold-text{
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}
.accordion-body .title .left .regular-text{
    font-size: 14px;
    font-weight: 100;
    margin-right: 10px;
}
.accordion-body .circle-icon{
    height: 24px;
    width: 24px;
    line-height: 23px;
    position: absolute;
    margin-right: 12px;
    margin-top: 18px;
    border-radius: 50px;
    color: #0fca80;
    text-align: center;
    border: 2px solid #0fca80;
    font-size: 18px;
    font-weight: 500;
/*    background-color: #9561e2;*/
}
.accordion-body .content{
    margin: 20px 0;
}
.accordion-body .content .sub-title{
    color: #000;
    font-size: 14px;
    font-weight: inherit;
    padding-right: 20px;
    margin-bottom: 0;
    margin-top: 20px;
    line-height: 22px;
}
.accordion-body .content .category-icons{
    display: flex;
    justify-content: space-between;
}
.accordion-body .content .category-icons img{
    cursor: pointer;
}
/*ACCORDION-2*/
.sub-title_drop_button{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 264px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: .875rem;
    line-height: 1.0625rem;
    color: black;
    background-color: #fff;
    padding: 0 10px 0 5px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    appearance: none;
    outline: none;
}
.parts-3{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}
.parts-3 li{
    margin: 0 0 0 15px;
    padding: 0;
}
.button-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 798px !important;
}
.button-wrapper .btn-back{
/*    float: right;
    font-family: Rubik;*/
    font-size: 14px;
    color: #363636;
    margin: 0 5% 0 0;
    text-align: center;
    box-sizing: border-box;
    height: 35px;
    width: 90px;
    border: 1px solid #ccc;
    border-radius: 17px;
    background-color: #fff;
}
.button-wrapper .btn-back:hover,
.button-wrapper .btn-next:hover{
    background-color: #ff7100;
    border: 1px solid #ff7100;
    color: white;
}
.button-wrapper .btn-next{
    font-size: 14px;
    background-color: #fff;
    color: #ff7100;
    border: 1px solid #ff7100;
    text-align: center;
    margin-left: 5%;
    box-sizing: border-box;
    height: 35px;
    width: 155px;
    border-radius: 17px;
    font-weight: 500;
}
/*ACCORDION-3*/
.btn-group{

}
.btn-group .btn1,
.btn-group .btn2,
.btn-group .btn3,
.btn-group .btn4{
    margin: 0;
    cursor: pointer;
    width: 47px;
    height: 40px;
    color: black;
    border: 1px solid rgb(133 133 133);
}
.btn-group .btn1:hover,
.btn-group .btn2:hover,
.btn-group .btn3:hover,
.btn-group .btn4:hover{
    color: #ff7100;
}
.btn-group .btn1:focus,
.btn-group .btn2:focus,
.btn-group .btn3:focus,
.btn-group .btn4:focus{
    background-color: #eeeeee;
}
.sub-title .text-bold{
    font-weight: bold;
    font-size: 17px;
}
.border-btn{
    cursor: pointer;
    border-radius: 17px;
    width: 138px;
    height: 36px !important;
    padding: 5px 0;
    margin: 0 0 0 20px;
/*    background-color: #9561e2;*/
    vertical-align: middle;
    border: 1px solid lightgrey;
    justify-content: start !important;
}
.border-btn .row-text{
    text-align: right !important;
    width: 70% !important;
}
.textarea-title-furniture{
    margin-top: 20px;
    width: 400px;

}
#textarea-counter-furniture{
    width: 400px;
    text-align: center;
    margin-right: 170px;
}
#textarea-field{
    padding: 16px 10px 20px 70px;
}
.textarea-title{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/*ACCORDION-4*/
.levels2{
    display: flex;
    flex-direction: column;
/*    background-color: #9561e2;*/
    line-height: 17px;
}
.checkbox-accordion4{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border: 2px solid rgba(0,0,0,.54);
    border-radius: 2px;
    cursor: pointer;
    -webkit-appearance: none;
    background: #fff;
    outline: none;
    margin: 0 20px 0 0;
}
/*ACCORDION-5*/
.uploads-wrapper792{
    width: 792px;
    padding: 30px 20px;
}
.priority-uploads{
    display: flex;
    flex-direction: row;
}
.priority-uploads .img1{

}
.priority-uploads .img2{
    margin-right: 20px;
}
.underline-accordion5{
    display: block;
    height: 1px;
    background: #9d9d9d;
    margin: 40px 0 20px 0;
}
.uploads-wrapper792 .img3{
    width: 260px;
    height: 206px;
}
.uploads-wrapper792 .img3 img{
    margin: 20px 20px;
}
/*ACCORDION-6*/
.li-accordion6{
    position: relative;
}
.checkbtn-accordion6{
    box-sizing: border-box;
    height: 40px;
    width: 162px;
    border-radius: 4px;
    font-size: 14px;
    padding: 1px 1px;
    text-align: center;
    line-height: 25px;
    background-color: #fff;
    color: #ff7100;
    border: 1px solid #ff7100;
    display: flex;
    flex-direction: row;
    position: relative;
}
.checkbtn-accordion6:hover{
    border: 1px solid #ff7100;
    background-color: #ff7100;
    color: #fff;
}
.checkbtn-accordion6 i{
    position: relative;
    top: 12px;
    right: 15px;
}
.checkbtn-accordion6 span{
    position: relative;
    top: 5px;
    right: 25px;
}
.add-contact-btn a{
    color:  #ff7100;
    text-decoration: none;
}
.remove-contact-btn a{
    margin-right: 10px;
    position: relative;
    top: 30px;
    color: #606060;
    text-decoration: none;
}
.remove-contact-btn a:hover{
    color: #FF7100;
}
/*ACCORDION-7*/

.number-accordion7-wrap{
    display: inline-block;
    margin: 0 3px 0 5px;
}

.number-accordion7{
    height: 30px;
    border-radius: 20px;
    background-color: #f9f7f7;
    color: #333;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border: 1px solid hsla(0,0%,66.7%,.3);
    padding: 0 10px;
}
.upgrade-text-accordion7{
    color: #333;
    background: #fdf9c4;
    font-weight: 500;
    padding: 2px;
    margin: 0 2px 0 5px;
}
.underline-accordion7{
    display: block;
    height: 1px;
    background: #9d9d9d;
    margin: 40px 20px 20px 20px;
}
.ad-wrapper792{
    width: 792px;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}
.ad-wrapper792 .basic{
    width: 238px;
    height: 343px;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(43 43 43 0.1);
    margin: auto 0;
}
.basic .zone1,
.advance .zone1{
    width: 100%;
    padding: 24px 56px 42px 56px;
}
.basic .zone1 .title,
.advance .zone1 .title{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 0;
}
.basic .zone1 .title span,
.advance .zone1 .title span{
    width: 100%;
    text-align: center;
}
.basic .zone1 .image,
.advance .zone1 .image{
    width: 100%;
}
.basic .zone1 .image img
{
    width: 126px;
    height: 52px;
/*    margin: 44px 0 18px 0;*/
    justify-content: center;
}
.ad-wrapper792 .vip{
    width: 238px;
    height: 410px;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(43 43 43 0.1);
}
.ad-wrapper792 .advance{
    width: 238px;
    height: 343px;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(43 43 43 0.1);
    margin: auto 0;
}
.zone2{
    padding: 10px 12px 10px 12px;
}
.zone2 .text-black{
    display: flex;
    font-size: 14px;
}
.zone2 .text-black i{
    position: relative;
    top: 5px;
}
.zone2 .text-black .text{
    margin-right: 10px;
}
.zone2 .text-grey{
    display: flex;
    font-size: 14px;
    opacity: .4;
}
.zone2 .text-grey i{
    position: relative;
    top: 5px;
}
.zone2 .text-grey .text{
    margin-right: 10px;
}
.zone3{
    margin-right: 16px;
    margin-top: 30px;
}
.zone3 .btn-free{
    background-color: #fff;
    border: 1px solid #ff7100;
    color: #ff7100;
    border-radius: 4px;
    padding: 8px 0;
    font-size: 1em;
    cursor: pointer;
    width: 206px;
}
.zone3 .btn-free .price{
    font-size: 18px;
    font-weight: bold;
}
.zone3 .btn-free .days{
    font-size: 14px;
    font-weight: 100;
}
.vip .zone1{
    width: 100%;
    padding: 24px 0 24px 0;
}
.vip .zone1 .title{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 0;
    height: 40px;
}
.vip .zone1 .title span{
    width: 100%;
    text-align: center;
    height: 30px;
}
.vip .zone1 .recommend{
    display: flex;
    justify-content: center;
    width: 81px;
    border-radius: 4px;
    background-color: #fff0d2;
    margin: 0 auto;
    padding: 4px 0;
}
.vip .zone1 .recommend .image img{
    width: 20px;
    height: 18px;
}
.vip .zone1 .recommend span{
    vertical-align: middle;
    font-size: 14px;
    color: #f4a401;
}

.vip .zone1 >.image{
    width: 100%;
/*    background-color: #0dcaf0;*/
}
.vip .zone1 >.image img{
    width: 153px;
    height: 114px;
   margin-right: 40px;
}
.vip .zone2{
    padding-left: 0;
}
.zone3 .btn-vip{
    background-color: #ff7100;
    border: 1px solid #ff7100;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px 0;
    font-size: 1em;
    cursor: pointer;
    width: 206px;
}
.zone3 .btn-vip .price{
    font-size: 18px;
    font-weight: bold;
}
.zone3 .btn-vip .days{
    font-size: 14px;
    font-weight: 100;
}
.advance .zone1 .image img{
    width: 110px;
    height: 78px;
    justify-content: center;
}
.advance >.zone1{
    padding: 24px 56px 12px 56px;
}
button[type="checkbox"]{
    background-color:white;
}
button[type="checkbox"]:focus{
    background-color: #fff;
    border-color: #9ac8ee;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(52, 144, 220, 0.25);
}

/*
.advance >.zone3 {
    margin-right: 16px;
    margin-top: 10px;
}
*/












/*END ACCORDION*/
